<!doctype html>
<html>
<head>
    <title>Accounts</title>
</head>
<head>
    <meta charset="utf-8"/>
    <title>Accounts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("AccountMapping", []);

      //Controller Part
      app.controller("AccountMappingController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.accounts = [];

        $scope.form = {
          accountName: "",
          instrumentName: "",
          instrumentQuantity: "",
        };

        $scope.deletedAccount = {
          accountName: "",
          instrumentName: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add fruits
        $scope.add = function () {
          var data = { "accountName": $scope.form.accountName, "instrumentName": $scope.form.instrumentName, "instrumentQuantity": $scope.form.instrumentQuantity };
          $http({
            method: "POST",
            url: '/account-instrument-mapping',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        $scope.delete = function () {
          $http({
            method: "DELETE",
            url: '/account-instrument-mapping/' + $scope.deletedAccount.accountName + '/' + $scope.deletedAccount.instrumentName,
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/account-instrument-mapping'
          }).then(function successCallback(response) {
            $scope.accounts = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.accountName = "";
          $scope.form.instrumentName = "";
          $scope.form.instrumentQuantity = "";
          $scope.deletedAccount.accountName = "";
          $scope.deletedAccount.instrumentName = "";
        }
      });

    </script>
</head>
<body ng-app="AccountMapping" ng-controller="AccountMappingController">

<div class="container">
    <h1>Accounts</h1>

    <h5>Add an Account</h5>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Account Name" ng-model="form.accountName" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Instrument Name" ng-model="form.instrumentName" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" placeholder="Instrument Quantity" ng-model="form.instrumentQuantity" size="60"/></div>
        </div>
        <input type="submit" name="action" value="Save"/>
    </form>

    <h5>Delete an Account</h5>
    <form ng-submit="delete()">
        <div class="row">
            <div class="col-3"><input type="text" placeholder="Account Name" ng-model="deletedAccount.accountName" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-3"><input type="text" placeholder="Instrument Name" ng-model="deletedAccount.instrumentName" size="60"/></div>
        </div>
        <input type="submit" name="del-action" value="Delete"/>
    </form>

    <h3>Account List</h3>
    <div class="row">
        <div class="col-2">Account Name</div>
        <div class="col-2">Instrument Name</div>
        <div class="col-4">Instrument Quantity</div>
    </div>
    <div class="row" ng-repeat="account in accounts">
        <div class="col-2">{{ account.accountName }}</div>
        <div class="col-2">{{ account.instrumentName }}</div>
        <div class="col-4">{{ account.instrumentQuantity }}</div>
    </div>
</div>
</body>
</html>