<!doctype html>
<html>
<head>
    <title>Instruments</title>
</head>
<head>
    <meta charset="utf-8"/>
    <title>Instruments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("Instrument", []);

      //Controller Part
      app.controller("InstrumentController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.instruments = [];

        $scope.form = {
          instrumentName: "",
          instrumentValue: "",
          riskScore: "",
        };

        $scope.deletedInstrument = {
          instrumentName: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add fruits
        $scope.add = function () {
          var data = { "instrumentName": $scope.form.instrumentName, "instrumentValue": $scope.form.instrumentValue, "riskScore": $scope.form.riskScore };
          $http({
            method: "POST",
            url: '/instrument',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        $scope.delete = function () {
          $http({
            method: "DELETE",
            url: '/instrument/' + $scope.deletedInstrument.instrumentName,
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/instrument'
          }).then(function successCallback(response) {
            $scope.instruments = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.instrumentName = "";
          $scope.deletedInstrument.instrumentName = "";
          $scope.form.instrumentValue = "";
          $scope.form.riskScore = "";
        }
      });

    </script>
</head>
<body ng-app="Instrument" ng-controller="InstrumentController">

<div class="container">
    <h1>Instruments</h1>

    <h5>Add an Instrument</h5>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Instrument Name" ng-model="form.instrumentName" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" step=".001" placeholder="Instrument Value" ng-model="form.instrumentValue" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" min="1" max="9" placeholder="Risk Score" ng-model="form.riskScore" size="60"/></div>
        </div>
        <input type="submit" name="action" value="Save"/>
    </form>

    <h5>Delete an Instrument</h5>
    <form ng-submit="delete()">
        <div class="row">
            <div class="col-3"><input type="text" placeholder="Instrument Name" ng-model="deletedInstrument.instrumentName" size="60"/></div>
        </div>
        <input type="submit" name="del-action" value="Delete"/>
    </form>

    <h3>Account List</h3>
    <div class="row">
        <div class="col-2">Instrument Name</div>
        <div class="col-2">Instrument Value</div>
        <div class="col-4">Risk Score</div>
    </div>
    <div class="row" ng-repeat="instrument in instruments">
        <div class="col-2">{{ instrument.instrumentName }}</div>
        <div class="col-2">£{{ instrument.instrumentValue.toFixed(2) }}</div>
        <div class="col-4">{{ instrument.riskScore }}</div>
    </div>
</div>
</body>
</html>