<!doctype html>
<html>
<head>
    <title>Portfolios</title>
</head>
<head>
    <meta charset="utf-8"/>
    <title>Portfolios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("PortfolioMapping", []);

      //Controller Part
      app.controller("PortfolioMappingController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.portfolios = [];

        $scope.form = {
          portfolioName: "",
          riskProfile: "",
          accountName: "",
        };

        $scope.deletedPortfolio = {
          portfolioName: "",
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add fruits
        $scope.add = function () {
          const formattedAccounts = $scope.form.accountName.split(",");
          var data = { "portfolioName": $scope.form.portfolioName, "riskProfile": $scope.form.riskProfile, "accountName": formattedAccounts };

          $http({
            method: "POST",
            url: '/portfolio-account-mapping',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        $scope.delete = function () {
          $http({
            method: "DELETE",
            url: '/portfolio-account-mapping/' + $scope.deletedPortfolio.portfolioName,
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/portfolio-account-mapping'
          }).then(function successCallback(response) {
            $scope.portfolios = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.portfolioName = "";
          $scope.form.riskProfile = "";
          $scope.form.accountName = "";
          $scope.deletedPortfolio.portfolioName = "";
        }
      });

    </script>
</head>
<body ng-app="PortfolioMapping" ng-controller="PortfolioMappingController">

<div class="container">
    <h1>Portfolios</h1>

    <h5>Add a Portfolio</h5>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Portfolio Name" ng-model="form.portfolioName" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Risk Profile" ng-model="form.riskProfile" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Accounts in CSV format" ng-model="form.accountName" size="60"/></div>
        </div>
        <input type="submit" name="action" value="Save"/>
    </form>

    <h5>Delete a Portfolio</h5>
    <form ng-submit="delete()">
        <div class="row">
            <div class="col-3"><input type="text" placeholder="Portfolio Name" ng-model="deletedPortfolio.portfolioName" size="60"/></div>
        </div>
        <input type="submit" name="del-action" value="Delete"/>
    </form>

    <h3>Portfolio List</h3>
    <div class="row">
        <div class="col-2">Portfolio Name</div>
        <div class="col-2">Risk Profile</div>
        <div class="col-4">Accounts</div>
    </div>
    <div class="row" ng-repeat="portfolio in portfolios">
        <div class="col-2">{{ portfolio.portfolioName }}</div>
        <div class="col-2">{{ portfolio.riskProfile }}</div>
        <div class="col-4">{{ portfolio.accountName }}</div>
    </div>
</div>
</body>
</html>