<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("ResultManagement", []);

      //Controller Part
      app.controller("ResultManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.results = [];

        //Now load the data from server
        _refreshPageData();

        /* Private Methods */
        //HTTP GET- get all results
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/results'
          }).then(function successCallback(response) {
            $scope.results = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        $scope.add = function () {

          $http({
            method: "POST",
            url: '/results/run',
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function successCallback(response) {
            alert("Portfolios scanned.")
            _refreshPageData();
          })

          };
      });
    </script>
</head>
<body ng-app="ResultManagement" ng-controller="ResultManagementController">

<div class="container">
    <h1>Risk Engine Results</h1>

    <form ng-submit="add()">
        <input type="submit" value="Run Risk Engine"/>
    </form>

    <h3>Result List</h3>
    <div class="row">
        <div class="col-2"><b>Name</b></div>
        <div class="col-2"><b>Status</b></div>
        <div class="col-5"><b>Description</b></div>
        <div class="col-3"><b>Timestamp</b></div>
    </div>

    <div class="row" ng-repeat="result in results">
        <div class="col-2">{{ result.portfolioName }}</div>
        <div class="col-2">{{ result.status }}</div>
        <div class="col-5">{{ result.description }}</div>
        <div class="col-3">{{ result.date }}</div>
    </div>
</div>

</body>
</html>