<!doctype html>
<html>
<head>
    <title>Risk Profiles</title>
</head>
<head>
    <meta charset="utf-8"/>
    <title>Instruments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("RiskProfile", []);

      //Controller Part
      app.controller("RiskProfileController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.riskProfiles = [];

        $scope.form = {
          riskProfile: "",
          riskProfileDefinition: "",
          maximumRiskLimit: "",
          minimumRiskLimit: "",
          warningThresholdPercentage: ""
        };

        $scope.deletedRiskProfile = {
          riskProfile: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add fruits
        $scope.add = function () {
          var data = { "riskProfile": $scope.form.riskProfile, "riskProfileDefinition": $scope.form.riskProfileDefinition, "maximumRiskLimit": $scope.form.maximumRiskLimit, "minimumRiskLimit": $scope.form.minimumRiskLimit, "warningThresholdPercentage": $scope.form.warningThresholdPercentage };
          $http({
            method: "POST",
            url: '/risk-profile',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        $scope.delete = function () {
          $http({
            method: "DELETE",
            url: '/risk-profile/' + $scope.deletedRiskProfile.riskProfile,
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/risk-profile'
          }).then(function successCallback(response) {
            $scope.riskProfiles = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.riskProfile = "";
          $scope.form.riskProfileDefinition = "";
          $scope.form.maximumRiskLimit = "";
          $scope.form.minimumRiskLimit = "";
          $scope.form.warningThresholdPercentage = "";
          $scope.deletedRiskProfile.riskProfile = "";
        }
      });

    </script>
</head>
<body ng-app="RiskProfile" ng-controller="RiskProfileController">

<div class="container">
    <h1>Risk Profiles</h1>

    <h5>Add a Risk Profile</h5>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Risk Profile" ng-model="form.riskProfile" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Risk Profile Description" ng-model="form.riskProfileDefinition" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" min="1" max="9" placeholder="Maximum Risk Limit" ng-model="form.maximumRiskLimit" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" min="1" max="9" placeholder="Minimum Risk Limit" ng-model="form.minimumRiskLimit" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" min="0" max="1" step=".001" placeholder="Warning Threshold Percentage" ng-model="form.warningThresholdPercentage" size="60"/></div>
        </div>
        <input type="submit" name="action" value="Save"/>
    </form>

    <h5>Delete a Risk Profile</h5>
    <form ng-submit="delete()">
        <div class="row">
            <div class="col-3"><input type="text" placeholder="Risk Profile" ng-model="deletedRiskProfile.riskProfile" size="60"/></div>
        </div>
        <input type="submit" name="del-action" value="Delete"/>
    </form>

    <h3>Risk Profile List</h3>
    <div class="row">
        <div class="col-2">Risk Profile</div>
        <div class="col-4">Risk Profile Description</div>
        <div class="col-2">Maximum Risk Limit</div>
        <div class="col-2">Minimum Risk Limit</div>
        <div class="col-2">Warning Threshold Percentage</div>
    </div>
    <div class="row" ng-repeat="riskProfile in riskProfiles">
        <div class="col-2">{{ riskProfile.riskProfile }}</div>
        <div class="col-4">{{ riskProfile.riskProfileDefinition }}</div>
        <div class="col-2">{{ riskProfile.maximumRiskLimit }}</div>
        <div class="col-2">{{ riskProfile.minimumRiskLimit }}</div>
        <div class="col-2">{{ riskProfile.warningThresholdPercentage }}</div>
    </div>
</div>
</body>
</html>